<h1>New Student</h1>

<% @student.errors.full_messages.each do |message|%>
    <%= message %><br>
<% end %>

<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.label :mod %>
  <%= f.text_field :mod %> <br>

  <%= f.submit %>

<% end %>
