<!DOCTYPE html>
<html>
  <head>
    <title>RubberDucking</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ol>
      <li>
        <%= link_to "Students Index", students_path %>
      </li>
      <li>
        <%= link_to "Rubber Ducky Index", ducks_path %>
      </li>
    </ol>

    <!-- Layout info begins -->
    <%= yield %>
  </body>
</html>
